<nav class="navbar p-0 fixed-top d-flex flex-row w-100">
  <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch w-100">
    
    <!-- Logo và tên dự án -->
    <div class="d-flex align-items-center me-4">
      <img src="assets/images/logo-mini.svg" (error)="headerLogoError($event)" alt="logo" class="me-2 logo-img">
      <h4 class="mb-0 text-light d-none d-lg-block">Cinema Management</h4>
    </div>
    
    <ul class="navbar-nav w-100">
      <li class="nav-item w-100">
        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" (submit)="navigateTo($event)">
          <input type="text" class="form-control" 
                 placeholder="Nhập tên trang để điều hướng nhanh (vd: phim, rạp,...)" 
                 [(ngModel)]="searchTerm" 
                 name="searchTerm"
                 (keyup)="onSearchKeyup($event)">
          <div *ngIf="searchTerm && filteredOptions.length > 0" class="search-results">
            <div *ngFor="let option of filteredOptions" 
                 class="search-option" 
                 (click)="navigateTo(null, option.path)">
              <i class="mdi {{option.icon}} me-2"></i>
              <span>{{option.name}}</span>
            </div>
          </div>
        </form>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-settings d-none d-lg-block">
        <a class="nav-link" href="#">
          <i class="mdi mdi-view-grid"></i>
        </a>
      </li>
      <li class="nav-item dropdown border-left">
        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown"
          aria-expanded="false" (click)="markMessagesAsRead()">
          <i class="mdi mdi-email"></i>
          <span class="count bg-success" *ngIf="unreadMessages > 0">{{unreadMessages}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
          <h6 class="p-3 mb-0">Tin nhắn</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="../../../../../assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1">Khách hàng gửi phản hồi</p>
              <p class="text-muted mb-0">1 phút trước</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="../../../../../assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1">Thông báo đặt vé mới</p>
              <p class="text-muted mb-0">15 phút trước</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="../../../../../assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1">Cập nhật thông tin hệ thống</p>
              <p class="text-muted mb-0">18 phút trước</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <p class="p-3 mb-0 text-center">Xem tất cả tin nhắn</p>
        </div>
      </li>
      <li class="nav-item dropdown border-left">
        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown"
          (click)="markNotificationsAsRead()">
          <i class="mdi mdi-bell"></i>
          <span class="count bg-danger" *ngIf="unreadNotifications > 0">{{unreadNotifications}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          aria-labelledby="notificationDropdown">
          <h6 class="p-3 mb-0">Thông báo</h6>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Sự kiện hôm nay</p>
              <p class="text-muted ellipsis mb-0">Lịch chiếu phim đặc biệt hôm nay</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-danger"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Cài đặt</p>
              <p class="text-muted ellipsis mb-0">Cập nhật bảng điều khiển</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-link-variant text-warning"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Khởi chạy Admin</p>
              <p class="text-muted ellipsis mb-0">Admin mới đã sẵn sàng!</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <p class="p-3 mb-0 text-center">Xem tất cả thông báo</p>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
          <div class="navbar-profile">
            <img class="img-xs rounded-circle"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIHDsd8O6J3xh3DlbyVcXnY5l_qLq4_0DoHw&s"
              alt="AVT">
            <div class="mb-0 d-none d-sm-block navbar-profile-name">
              <h5 class="mb-0 font-weight-normal">
                {{ (currentUser$ | async)?.displayName }}
              </h5>
              <span class="text-muted small">
                <i class="mdi mdi-shield-account mr-1"></i>
                {{ (currentUser$ | async)?.roles?.[0] ?? 'Nhân viên' }}
              </span>
            </div>
            <i class="mdi mdi-menu-down d-none d-sm-block ml-2"></i>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
          <a class="dropdown-item preview-item" (click)="openChangePasswordModal()">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Đổi mật khẩu</p>
            </div>
          </a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item preview-item" (click)="logout()">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-logout text-danger"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject mb-1">Đăng xuất</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
      data-toggle="offcanvas">
      <span class="mdi mdi-format-line-spacing"></span>
    </button>
  </div>
</nav>

<!-- Thêm đoạn này ở cuối file, sau thẻ </nav> -->
<app-change-password-modal></app-change-password-modal>