.table img {
  object-fit: cover;
}

.table td {
  vertical-align: middle;
}

.badge {
  padding: 0.5em 1em;
}

.btn-rounded {
  border-radius: 20px;
}


.pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-link {
  cursor: pointer;
}

.table {
  margin-top: 20px;
}

.btn-primary {
  margin-bottom: 20px;
}