<div class="container-scroller">
  <!-- Only show navbar, sidebar, and footer if logged in -->
  <ng-container *ngIf="authService.isLoggedIn(); else loginContent">

    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Container chính -->
    <div class="container-fluid page-body-wrapper">
      <!-- Sidebar -->
      <app-header></app-header>

      <!-- Main Panel -->
      <div class="main-panel">
        <div class="content-wrapper">
          <!-- Router outlet sẽ render các component con ở đây -->
          <router-outlet></router-outlet>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
      </div>
    </div>

  </ng-container>


  <ng-template #loginContent>
    <div class="auth login-bg">
      <router-outlet></router-outlet>
    </div>
  </ng-template>


</div>